.main {
   display: flex;
   flex-direction: column;
   gap: 24px;
   @media (min-width:  768px) and (max-width: 1439px) {
      gap: 32px;
   }
   @media (min-width: 1440px) {
      gap: 50px;
   }

   &__heading {
      padding: 16px 16px; 
      border-top: 1px solid #d9fff5;
      background: linear-gradient(90deg, #f8f8f8, #ffffff);
      @media (min-width:  768px) and (max-width: 1439px) {
         padding: 16px 24px;
      }
      @media (min-width: 1440px) {
         padding: 16px 32px;
      }
   }

   &__title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color:#7e7e82;
      text-transform: uppercase;
   }

   &__slider-wrapper {
      @media (min-width:  768px) and (max-width: 1439px) {
         height: auto;
         max-height: 200px;
         overflow: hidden;
      }
      @media (min-width: 1440px) {
         height: auto;
         max-height: 200px;
         overflow: hidden;
      }
   }

   &__expand-btn {
      @media (max-width: 767px) {
         display: none;
      }
      @media (min-width:  768px) and (max-width: 1439px) {
         margin-left: 24px;
      }
      @media (min-width: 1440px) {
         margin-left: 32px;
      }
   }
}
