@font-face {
    font-family: "TTLakes";
    src: url("styles/TTLakes/TTLakes-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "TTLakes";
    src: url("styles/TTLakes/TTLakes-Bold.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "TTLakes";
    src: url("styles/TTLakes/TTLakes-Medium.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;   
}

li {
    list-style-type: none;
}

body{
    width:100vw;
    max-width: 1120px;
    font-family: "TTLakes",sans-serif;
    min-width:320px;
    margin:0;
    padding:0;
    overflow: scroll;
    background-color:#F8F8F8;
    z-index: 70;
}

p {
    margin-top:0;
}


main{
    width:100%;
    background-color:#F8F8F8;
}

.header__list{
    display:flex;
    width:100%;
    align-items: center;
    margin:0;
    padding-left:16px;
    
}

.header__nav{
    overflow: hidden;
    width:100%;
    display:flex;
    padding-top:17px;
    padding-bottom:17px;
    margin:0;
    
}

.header__elem{
    flex-shrink: 0;
    display:flex;
    width:40px;
    height:40px;
    background-color:#FF3E79;
    border-radius:50%;
    align-items: center;
    justify-content: center;
}

.header__item{
    margin-right:16px;
}

.header__icon{
    padding-top:4px;
    height: 20px;
    width:97px;
}

.header__item:nth-child(4){
    margin-left:auto;
} 

.header__logo{
    height:51px;
}

.header__divider{
    border-right: 2px solid #EAEAEA;
    height: 32px;
}

.burger{
    width: 18px;
    height: 16px;
}


.main__header{
    margin-left:12px;
}

.main__button{
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left;
    border:none;
    background-color:#F8F8F8;
    margin-left:10px;
}

.main__but{
    color:#1B1C21;
    padding-left:16px;
    font-size: 16px;
    margin-left:-17px;
}

.services{
   display:flex; 
   color:#7E7E82;   
   margin-left: 16px;
   margin-right: 37px;
   overflow: scroll;
   padding-bottom:10px;
}


.services__item{
    padding: 8px 9px 30px 16px;
    height:24px;
    white-space: nowrap;
    align-items: center;
    
}

 .services__item:hover{
    border:2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-right: -4px;
    margin-bottom:-5px;
} 

.swiper-technics{
    height: 250px !important;
}



.main__content{
    display:flex;
    flex-direction: column;
    margin-top:50px;
    margin-right:32px;
}

.main__text{
    color:#1B1C21;
    font-size:14px;
    margin-bottom:15px;
}

.main__text--tablet{
    display:none;
}

.main__content--item{
    margin:16px;
}

.main__text--pc{
    display:none;
}

.main__h{
    padding-top:42px;
    display:flex;
    align-items: center;
}


.main__repair{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right:32px;
}

.main__checkstatus{
    display: flex;
    align-items: center;
    margin-right:32px;
}

.main__repair--icon{
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M18.2581 23.4583L18.6668 23.0494L16.95 21.3322L16.5412 21.7411L16.3368 21.5367C16.0098 21.1687 15.6828 20.9643 15.3558 21.0052C15.1105 21.0052 14.9061 21.1687 14.7426 21.414C14.4973 21.8229 14.62 22.2726 14.6608 22.5588C14.6608 22.6406 14.7017 22.6815 14.7017 22.7632C14.7017 22.8859 14.7017 23.0494 14.4156 23.0903C14.0068 23.213 13.4754 23.3356 12.944 23.6218C12.2082 24.0307 11.7176 24.3987 11.4315 24.7666C9.91902 26.7291 10.0008 28.4055 10.0008 28.4872C10.0008 28.6099 10.0417 28.6917 10.1234 28.7325L11.2271 29.8773C11.3089 29.9591 11.3906 30 11.4724 30C11.4724 30 11.5133 30 11.595 30C12.0038 30 13.4754 29.9182 15.1922 28.569C15.5601 28.2828 15.928 27.7922 16.3368 27.0562C16.623 26.5656 16.7865 26.0341 16.8682 25.5844C16.95 25.2982 17.0726 25.2982 17.1953 25.2982C17.2361 25.2982 17.3179 25.339 17.3996 25.339C17.5631 25.3799 17.7267 25.4208 17.931 25.4208C18.1354 25.4208 18.3398 25.3799 18.5442 25.2573C18.7895 25.0937 18.953 24.8893 18.9939 24.644C19.0347 24.3169 18.8712 23.9898 18.5033 23.7036L18.2581 23.4583Z' fill='white'/%3E%3Cpath d='M26.884 14.8784L28.0188 14.326C28.0609 14.2835 28.1449 14.241 28.1869 14.1986L29.9101 11.8616C30.0362 11.6916 30.0362 11.4367 29.8681 11.3092L28.6913 10.1195C28.5652 9.99199 28.313 9.9495 28.1449 10.077L25.8333 11.8191C25.7913 11.8616 25.7493 11.9041 25.7072 11.989L25.1609 13.1363L21 17.2154L22.7652 19L26.884 14.8784Z' fill='white'/%3E%3Cpath d='M27.8527 23.0448C26.8636 22.0036 25.4393 21.6288 24.0941 22.0036L17.6453 15.1733C17.7244 14.7985 17.764 14.4653 17.764 14.0905C17.764 13.0493 17.3683 12.0081 16.6166 11.2167C15.588 10.0923 14.045 9.71742 12.6207 10.2172C12.5416 10.2588 12.4229 10.3838 12.3833 10.5504C12.3833 10.6753 12.4229 10.8003 12.502 10.9252L14.4406 12.966C14.8758 13.4241 14.8758 14.2154 14.4406 14.6735C14.0054 15.1317 13.2537 15.1317 12.8185 14.6735L10.8799 12.6328C10.7612 12.5495 10.6425 12.5078 10.4843 12.5495C10.3656 12.5495 10.2469 12.6744 10.2073 12.7994C9.73256 14.2571 10.0886 15.8813 11.1173 16.9642C11.8294 17.7555 12.8581 18.172 13.8867 18.172C14.2032 18.172 14.5593 18.1303 14.8758 18.047L21.3642 24.8773C21.0082 26.2933 21.4038 27.7927 22.3533 28.8339C23.105 29.6252 24.0546 30 25.0832 30C25.5184 30 25.914 29.9167 26.3492 29.7918C26.4679 29.7501 26.5866 29.6252 26.6262 29.5002C26.6658 29.3753 26.6262 29.2087 26.5075 29.1254L24.5689 27.0846C24.3711 26.8764 24.2128 26.5432 24.2128 26.21C24.2128 25.8768 24.3315 25.5853 24.5689 25.3354C24.8063 25.0855 25.0832 24.9606 25.3997 24.9606C25.7162 24.9606 25.9932 25.0855 26.2306 25.3354L28.1692 27.3762C28.2879 27.4595 28.4065 27.5011 28.5252 27.5011C28.6439 27.4595 28.7626 27.3762 28.8022 27.2512C28.9209 26.8348 29 26.3766 29 25.9185C29 24.8356 28.6044 23.7944 27.8527 23.0448Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position:center;
    width:40px;
    height: 40px;
    border:none;
    border-radius: 50%;
    margin-left:8px;
}


.main__checkstatus--icon{
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 11C12 10.4477 12.4477 10 13 10H27C27.5523 10 28 10.4477 28 11V28.5C27.1716 28.5 26.5 29.1715 26.5 29.9999H25.5C25.5 29.1715 24.8284 28.5 24 28.5C23.1716 28.5 22.5 29.1715 22.5 29.9999H21.5C21.5 29.1715 20.8284 28.5 20 28.5C19.1716 28.5 18.5 29.1715 18.5 29.9999H17.5C17.5 29.1715 16.8284 28.5 16 28.5C15.1716 28.5 14.5 29.1715 14.5 29.9999H13.5C13.5 29.1715 12.8284 28.5 12 28.5V11ZM21.4163 21.7884C20.5536 22.3443 19.4703 22.5936 18.3296 22.3827C16.5274 22.0472 15.0895 20.5326 14.8595 18.7114C14.4952 15.8261 16.9492 13.4201 19.8538 13.8802C21.656 14.1677 23.1034 15.6439 23.4006 17.4365C23.5828 18.5484 23.3239 19.5741 22.7871 20.4272L24.896 22.5265C25.2699 22.9003 25.2699 23.5138 24.896 23.8876C24.5126 24.2711 23.8991 24.2711 23.5252 23.8972L21.4163 21.7884ZM16.7058 18.0588C16.7058 16.7599 17.7599 15.7058 19.0588 15.7058C20.3576 15.7058 21.4117 16.7599 21.4117 18.0588C21.4117 19.3576 20.3576 20.4117 19.0588 20.4117C17.7599 20.4117 16.7058 19.3576 16.7058 18.0588Z' fill='white'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat;
    border:none;
    background-position:center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left:8px;
}

.slider{
    background-color: #F8F8F8;
}

.slider__text{
    font-size: 16px;
    color:#7e7e82;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    padding:16px 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.slider__list{
    display:flex;
    flex-wrap: wrap;
    padding-top:16px;
}

.slider__list-elem{
    text-decoration: none;
    color:#1B1C21;
    box-sizing: content-box;
    display:flex;
    background-color: #fff;
    border:1px solid #eaeaea;
    padding:4px 16px;
    width: 205px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 16px;
    align-items: center;
}

.slider__arrow{
    width:40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    margin-left:auto
}

.slider__desktop{
    margin-left:32px;
}

.slider__hide-elem{
    display:none;
}



.slider__hide{
    display:flex;
    padding-left:32px;
    padding-bottom: 34px;
}

.slider__hide-text{
    margin-left:16px;
}

.swiper{
    display:none;
}

.aside{
    z-index:100;
    display:flex;
    position:fixed;
    min-width: 320px;
    width:320px;
    max-width: 320px;
    box-shadow: 5px 0px 15px -5px black;
    overflow: scroll;
    flex-direction: column;
    height: 100vh;
    left:0;
    top:0;
    background-color:#FFFFFF;
    
}
.bubble{
    width:calc(100% - 330px);
    height: 100vh;
    z-index:80;
    position:absolute;
    left:320px;
    background-color: white;
    opacity: 0;
    
}





.close{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.asidesearch{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5006 11.0006H11.7106L11.4306 10.7306C12.6306 9.33063 13.2506 7.42063 12.9106 5.39063C12.4406 2.61063 10.1206 0.390626 7.32063 0.0506256C3.09063 -0.469374 -0.469374 3.09063 0.0506256 7.32063C0.390626 10.1206 2.61063 12.4406 5.39063 12.9106C7.42063 13.2506 9.33063 12.6306 10.7306 11.4306L11.0006 11.7106V12.5006L15.2606 16.7506C15.6706 17.1606 16.3306 17.1606 16.7406 16.7506L16.7506 16.7406C17.1606 16.3306 17.1606 15.6706 16.7506 15.2606L12.5006 11.0006ZM6.50063 11.0006C4.01063 11.0006 2.00063 8.99063 2.00063 6.50063C2.00063 4.01063 4.01063 2.00063 6.50063 2.00063C8.99063 2.00063 11.0006 4.01063 11.0006 6.50063C11.0006 8.99063 8.99063 11.0006 6.50063 11.0006Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.tel{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E%0A");    background-position: center;
    background-repeat: no-repeat;
}

.mes{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E%0A");    background-position: center;
    background-repeat: no-repeat;
}

.cont{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E%0A");    background-position: center;
    background-repeat: no-repeat;
}

.header-aside__list{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.icon{
    flex-shrink: 0;
    display:flex;
    width:40px;
    height:40px;
    background-color:#FF3E79;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.header-aside__elem:last-child{
    margin-left:auto;
}

.header-aside{
    padding: 24px 0;
    margin:24px;
    margin-top:0;
}

.main-aside__list{
    display:flex;
    flex-direction: column;   
}

.main-aside__elem{
    height: 32px;
    margin-bottom: 20px;
    padding-left:24px;
    white-space: nowrap;
    display:flex;
    align-items: center;
}

 .main-aside__elem:hover{
    
    width: 4px;
    height: 32px;  
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='32' viewBox='0 0 4 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V32C2.20914 32 4 30.2091 4 28V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left;
    color: #7E7E82;
    
} 
.footer-aside{
    margin-left:24px;
    margin-top:auto;
}
.footer-aside__list{
    display:flex;
    flex-direction:column;
}

.footer-aside__elem{
    margin-bottom:16px ;
}

.footer-aside__row{
    display:flex;
    flex-direction: row;
}

.footer-aside__item {
    margin-right:16px;
}

.main__footer{
    display:flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0 32px;
    margin-top:83px;
    
}

.First{
    text-align: left;   
    width:218px; 
}
.Second{
    text-align: center;
    width:214px;
}
.Third{
    width:330px;
    text-align: right;
}

.hidden{
    display:none;
}

.flex{
    display:flex;
}

.block{
    display:block;
}


.technics__list-elem--size{
    margin-left:24px;
    text-decoration: none;
    color:#1B1C21;
    padding:16px;
    display:flex;
    align-items: flex-start;
    width: 215px;
    height: 160px;
}
.technics__arrow{
    align-self: flex-end;
    margin-bottom: 16px;
}

.technics-slide{
    border: 1px solid #EAEAEA;
}

.infoText{
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    max-width: 421px;
    max-height: 60px;
    margin: 16px;
    margin-left:32px;
    

}
.goBuy{
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin: 16px;
    margin-left:32px;
}

.swiper__slide{
    margin-left:0;
}




@media screen and (max-width: 767px){
    .main__content{
        margin-top:15px;
    }
    
    .image{
        width:320px;
        height: auto;
        margin-left:auto;
        margin-right:auto;
    }
    .main__repair{
        display:none;
    }
    .main__checkstatus{
        display:none;
    }
    .header__list{
        justify-content: space-between;
    }
    .header__item:nth-child(6){
        display:none;
    }
    .header__item:nth-child(7){
        display:none;
    }
    .header__item:nth-child(8){
        display:none;
    }
    .header__item:nth-child(9){
        display:none;
    }

    /* .services{
        margin-bottom: -65px;
    } */

    .swiper{
        display:block;
        height: 154px;
        background-color:#F8F8F8;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet-active {
        background-color:gray;
    }

    .slider__text{
       padding-left:16px;
    }

    .swiper-slide{
       margin-top:16px;
       
    }

    .swiper-wrapper{
        margin-left:-25px;
    }


    .slider{
        display:none;
    }

    .swiper-pagination{
        top:100px;
    }
    .technics-pagination{
        position:absolute;
        top:220px;
    }



}

@media screen and (min-width: 768px) and (max-width: 1119px){
    .services{
        margin-bottom: -30px;
    }

    .main__content{
        flex-direction: row;
    }
    
    .header__item:nth-child(1){
        order:-2;
    }
    .header__item:nth-child(3){
        order:-1;
    }

    .main__content--item{
        display:inline-block;
        margin-top:0;
    }
    .main__repair{
        display:none;
    }
    .main__checkstatus{
        display:none;
    }

    .main__text--tablet{
        display:flex;
        
    }

    .image{
        width: 360px;
        height: auto;
        margin-left:48px;
        padding-bottom:20px;
    }

    .slider__hide-tablet-elem, .slider__hideTechnics{
        display:none;
    }

    
}

@media screen and (min-width: 1120px){
    .main__content{
        flex-direction: row;
        margin-top:10px;
    }
    .image{
        margin-left:36px;
    }
    .margin__content--item{
        margin-right:36px;
        margin-top:0;
    }
    .header{
        display:none;
    }

    .services__item{
        flex-wrap:wrap;
       
    }
    

    .main__image:not(:first-child){
        display:flex;
        margin-right: 32px;
    }

    .main__text--pc{
        display:flex;
        
    }

    .services{
        flex-wrap: wrap;
        overflow: hidden;
    }

}