.footer { 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   color: #7e7e82;
   gap: 16px;
   padding: 16px;
   border-top: 1px solid #d9fff5;

   @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
   }
   @media (min-width: 321px) and (max-width: 767px) {
      padding: 32px 24px;
   }
   @media (min-width: 1440px) {
      padding: 32px;
   }

   &__item {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;

      @media (max-width: 767px) {
         text-align: center;
      }

      &:nth-child(2) {
         text-align: center;
         a {
            color: #7e7e82;
         }
      }

      &:nth-child(3) {
         @media (min-width: 768px) {
            text-align: right;
         }
      }
   }
}
