body {
   font-family: 'TT Lakes', sans-serif;
   background-color: #f8f8f8;
   margin: 0;
   padding: 0;
}
::-webkit-scrollbar {
   width: 0;
} 

.main-container {
   max-width: 1046px;
   margin-left: auto;
   margin-right: auto;
   @media (min-width: 1440px) {
      max-width: 1440px;
   }
}
.container {
   max-width: 1046px; 
   display: flex;
   flex-direction: column;
   @media (min-width: 1440px) {
      margin: 0;
      margin-left: auto;
   }
}

.circle-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #ff3e79;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   border: none;

}

.circle__link {
   height: 40px;
   width: 40px;
   border: #ff3e79 solid 2px;
   border-radius: 50%;
   background: url('../assets/img/dropdown.svg') no-repeat center center;
}

.expand-btn {
   display: flex;
   align-items: center;
   gap: 16px;
   border: none;
   background-color: #f8f8f8;

   &::before {
      content: url('../assets/img/expand.svg');
      height: 24px;
   }

   &__text {
      font-family: 'TT Lakes', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #1b1c21;
   }
}

.expand-btn--rotate {
  &::before {
    transform: rotate(180deg);
  }
}

.expand-area.expand-btn-active {
   overflow: visible;
   height: auto;
   max-height: 600px;
}

.submit-btn {
   height: 32px;
   padding: 4px 12px;
   background:#ff3e79;
   border: 0;
   border-radius: 16px;

   span {
      font-size: 12px;
      display: flex;
      justify-content: center;
      gap: 12px;
      color: #ffffff;

      &::after {
         content: url('../assets/img/modal-arrow.svg');
         display: flex;
         align-items: center;
      }
   }
}
